html {
	height: 100%;
}

body {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: .8em;
	color: #333333;
	margin: 0;
	padding: 0;
	height:100%;
}

td {
	font-family: Verdana, Arial;
	font-size:10px;
}

a {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.error {
	color:#FF0000;
}

.navLink {
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	padding-right: 7px;
	padding-left: 7px;
}

.navText {
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

.navTextbox {
	width: 60px;
    font-size: 9px;
}

.contentHeight {
	height:600px;
	vertical-align:top;
}

.contentTable {
	border-color:#CCCCCC;
	border-left-style:solid;
	border-width:1px;
	border-right-style:solid;
}	

.footer {
	background-color:#666666;
	color: #FFFFFF;
	text-decoration: none;
}

.placeHolder {
	border-style:solid;
	border-color:#CCCCCC;
	border-width:1px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.title {
	font-weight: bold;
	color: #000000;
	font-size: 14px;
}

.highlight {
	font-weight: bold;
	color: #FF0000;
}

/* timesheet */
.schedule_header {
	font-size: 9px;
	color: #FFFFFF;
	background-color:#003399;
}

.time_cell {
	background-color:#FEFEFF;
}

.hour {
	font-size:18px;
	font-weight:bold;
}

.minute {
	font-size:10px;
}

.employeeOff {
    font-weight:normal;
    color:#000000;
}

/* tables */
.headerCell {
    background-color:#006699;
    color:#FFFFFF;
	font-size:12px;
	padding: 2px 2px 2px 2px;
}

.lightCell {
    background-color:#FEFEFF;
}

.darkCell {
    background-color:#CDDEEE;
}

/* menus */
.menu {
    padding:4px 0px 4px 0px;
    background-color:#EFEFEF;
    color:#000000;
    border-style:solid;
    border-width:thin;
    border-top-color:#BBBBBB;
    border-left-color:#BBBBBB;
    border-bottom-color:#EEEEEE;
    border-right-color:#EEEEEE;
}